{% extends 'base/base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<div class="m-3" >
	<h1 class="text-primary fw-bolder text-uppercase my-3" >Welcome to<br>Ap Assets</h1>
	<p class="fw-light">
	  Discover and download the latest backgrounds, logos, game assets, and VFX images with just one click. Minimal ads, free to use anywhere.
	  <br>
	  <span class="text-primary">Your choice is at your fingertips.</span>
	</p>
	
	<div class="pt-5" >
		<h4 class="fs-5" >contrat at <span class="fw-light" >hemelmitro@gmail.com</span></h4>
	</div>
</div>
{% endblock body %}